<div class="about_app">
  <div class="app_title">
    <h2>思春期ニキビ連合軍とは？</h2>
    <p>ニキビに悩む中高生のリアルな声が集まる掲示板です。ユーザーはログインすると、ニキビに関する悩みや、自分なりのニキビ治療法を投稿できるようになります。投稿に対しては、コメントをつけることができたり、いいねを追加したりすることができます。マイページでは、自分が投稿した投稿や、自分がいいねした投稿を一覧で見ることができます。</p>
  </div>

  <div class="production_background">
    <h2>制作背景(意図)は？</h2>
    <p>「ニキビに悩む中高生のリアルな声が集まる掲示板を作ろう」そう考えたことが、このアプリケーションを制作しようと考えたきっかけでした。自分自身、中学高校とニキビに悩んでいたのですが、「ニキビに悩んでいる」と気軽に相談できる場があまりありませんでした。親に勇気を出して相談したりしても「ニキビがあるのは思春期の今だけで、そのうち治るからほっときなさい」みたいに他人事。インターネットで「思春期 ニキビ」みたいに調べても、出てくるのはスキンケア用品の広告ばっかで、ニキビがある自分の弱みに漬け込まれてるみたいで、なんだかなぁと感じていました。そこで、今現在自分と同じようにニキビに悩んでいる中高生のリアルな声が集まる掲示板があれば、ニキビに悩む中高生が、少しでも安心できたり、ニキビを治そうとするモチベーションを高めたりすることができるのでないかと考えました。その為、今回「思春期ニキビ連合軍」というwebアプリケーションを制作させていただきました。</p>
  </div>

  <div class="about_app_to_top_page">
  <%= render "/shared/move_root_path" %>
  </div>

  <div class="about_app_footer">
    <%= link_to "お問い合わせ", home_contact_path, class:"contact_form" %>
  </div>
</div>
