<div class="google_contact_form">
  <div class="form_title">
    お問い合わせフォーム
  </div>
  <div class="googleform-wrapper">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe5Sm4Pa1GYaoPLnvyAo43IolW9wntGdfTqcleKE3v7ioBg8w/viewform?embedded=true" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>
  <div class="contact_form_to_root_path">
    <%= render 'shared/move_root_path' %>
  </div>
</div>