/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  *{
  margin:0;
  padding:0;
  }

  #flash_notice{
    display: none;
    position: fixed;
    left:calc(10vw - 15px);
    top: 8px;
    z-index: 30;
    width: 80vw;
    background-color: #1fb5bf;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
  }

  #flash_alert{
    display: none;
    position: fixed;
    left:calc(10vw - 15px);
    top: 8px;
    z-index: 30;
    width: 80vw;
    background-color: #800000;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
  }

  .error-alert ul{
    list-style: none;
  }

  .field_with_errors{
    display: contents;
  }

  .root_path_btn{
    width: 250px;
    background-color: #2a2a2a;
    padding: 18px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
  }

  .fa-desktop{
    margin-right: 8px;
  }

  *{
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 960px) {
    #flash_notice{
      left: calc(10vw);
    }
    /* sign_up */
    .sign_up_title{
      padding: 40px 0;
      font-size: 20px;
    }
    .sign_up_form{
      width: 70%;
      height: 740px;
      margin-top: 300px;
      font-size: 23px;
    }
    .field{
      margin-top: 35px;
    }
    .input_default{
      font-size: 25px;
      height: 30px;
      width: 50%;
    }
    .sign_up_to_root_path{
      margin-top: 30px !important;
    }
    .sign_up_submit{
      font-size: 22px;
    }
    .form_links{
      font-size: 21px;
    }

    /* post_index */
    .top_image img{
      width: 60%;
    }
    .top_menu{
      width: 90%;
      margin: 0 auto;
      margin-top: 55px;
      padding: 40px 70px;
      justify-content: space-around;
    }
    .post_container{
      width: 100%;
      height: 280px;
    }
    .post_image{
      width: 230px;
    }

    /* post_show */
    .post_show_container{
      background-color: white;
    }
    .post_show_items{
      margin: 60px 0;
      width: 100%;
      padding-bottom: 50px;
      border: none;
    }
    .name_user_posted{
      margin-top: 60px;
    }
    .prev_or_next{
      width: 250px;
    }
    .post_content{
      width: 90%;
    }
    .post_category{ 
      display: flex;
      flex-direction: column;
    }
    .post_show_image{
      width: 90%;
      height: 20%;
      min-height: 50px;
    }
    .comment_to_post{
      margin-top: 90px;
    }
    .comments_index{
      width: 90%;
    }
    .one_comment{
      font-size: 13px;
    }
    .comment_input_form{
      width: 100%;
    }
    .comment_text{
      width: 80%;
    }
    .move_other_container{
      margin-top: 40px;
      font-size: 13px;
    }
    .post_show_to_root_path{
      margin-top: 30px;
    }
    .post_show_to_my_page{
      margin-top: 50px;
    }

    /* post_new */
    .new_posts_form{
      width: 80%;
      margin-top: 220px;
    }
    .new_post_image{
      font-size: 17px;
    }
    .new_post_category_select{
      font-size: 20px;
    }
    .new_post_title_input_form{
      font-size: 20px;
    }
    .new_post_text_input_form{
      font-size: 20px;
    }
    .new_posts_form h1{
      width: 100.5%;
      font-size: 30px;
      padding: 40px 20px;
    }
    .new_post_items{
      width: 90%;
    }
    .new_post_submit_btn{
      width: 150px;
    }
    /* post_edit */
    .move_post_show_btn{
      width: 200px;
      text-align: center;
      padding: 17px 50px;
    }
    .destroy_post_btn{
      width: 235px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 375px) {
    /* flash */
    #flash_notice{
      left: calc(10vw);
      font-size: 10px;
    }
    #flash_alert{
      left: calc(10vw);
      font-size: 10px;
    }
    /* root_path btn */
    .root_path_btn{
      width: 165px;
      padding: 15px 20px;
      font-size: 10px;
      text-align: center;
      border-radius: 50px;
    }
    /* about_app */
    .app_title h2{
      width: 220px;
      font-size: 14px;
      border-radius: 50px;
      padding: 18px;
      margin-top: 50px;
    }
    .app_title p{
      width: 90%;
      font-size: 13px;
    }
    .production_background h2{
      width: 220px;
      font-size: 14px;
      border-radius: 50px;
      padding: 18px;
      margin-top: 50px;
    }
    .production_background p{
      width: 90%;
      font-size: 13px;
    }
    .about_app_to_top_page{
      margin-top: 100px;
      margin-bottom: 150px;
    }
    .about_app_footer{
      font-size: 10px;
      height: 80px;
    }
    /* contact_form */
    .form_title{
      font-size: 13px;
      width: 250px;
      padding: 18px;
    }
    .googleform-wrapper {
      width: 90%;
    }
    /* my_page */
    .user_my_page_title{
      font-size: 7px;
      border-radius: 50px;
      width: 200px;
      padding: 18px;
    }
    .user_posts_index{
      font-size: 7px;
      width: 300px;
      border-radius: 50px;
      margin: 0 auto;
      margin-top: 40px;
      padding: 18px;
    }
    .user_post{
      font-size: 10px;
      width: 90vw;
      margin: 0 auto;
      margin-top: 20px;
      height: 220px;
    }
    .liked_posts{
      font-size: 7px;
      border-radius: 50px;
      width: 300px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 20px;
    }
    .user_like{
      width: 90vw;
      margin: 0 auto;
      margin-top: 20px;
      height: 220px;
    }
    .liked_post{
      font-size: 10px;
    }
    /* sign_up */
    .sign_up_title{
      padding: 26px 0;
      border-radius: 35px;
      font-size: 16px;
      width: 101%;
      margin-top: -10px;
    }
    .error_explanation h2{
      font-size: 10px;
    }
    .error_messages{
      margin: 0;
      font-size: 10px;
      margin-bottom: -20px;
    }
    .sign_up_form{
      border-radius: 30px;
      width: 85%;
      height: 450px;
      margin-top: 80px;
      font-size: 15px;
    }
    .field{
      margin-top: 7px;
    }
    .input_default{
      font-size: 15px;
      height: 20px;
      width: 50%;
    }
    .sign_up_to_root_path{
      margin-top: 70px !important;
    }
    .sign_up_submit{
      font-size: 10px;
      border-radius: 50px;
    }
    .form_links{
      font-size: 10px;
      border-radius: 50px;
    }

    /* post_index */
    .wrapper::before{
      background-color: rgba(255,255,255,0.8);
    }
    .top_image{
      display: flex;
      align-items: flex-start;
    }
    .top_image img{
      width: 180px;
      height: auto;
    }
    .top_menu{
      font-size: 13px;
      width: 90%;
      margin: 0 auto;
      margin-top: 40px;
      padding: 25px 10px;
      justify-content: space-around;
    }
    .link{
      font-size: 10px;
    }
    .post_index{
      margin-top: 30px;
    }
    .post_container{
      width: 33%;
      margin: 0 auto;
      height: 130px;
      text-align: center;
    }
    .post_image{
      width: 70%;
    }
    .user_nickname{
      font-size: 10px;
    }
    .search_form{
      width: 90%;
      height: 200px;
    }
    .search_form p{
      margin-top: 50px;
    }
    /* search_post */
    .search_posts_title{
      font-size: 13px;
      width: 200px;
      padding: 18px;
    }
    .searched_post_to_top{
      margin-top: 20px;
    }
    .search_post_content{
      width: 90%;
      margin-top: 20px;
      font-size: 13px;
    }
    .no_post{
      font-size: 12px;
    }
    /* post_show */
    .post_show_container{
      background-color: white;
    }
    .post_show_items{
      margin: 60px 0;
      width: 100%;
      padding-bottom: 50px;
      border: none;
    }
    .name_user_posted{
      margin-top: 20px;
      font-size: 15px;
    }
    .prev_or_next{
      margin: 0 auto;
      margin-top: 20px;
      width: 55%;
      font-size: 13px;
      display: flex;
      justify-content: space-between;
    }
    .post_content{
      width: 90%;
      margin-top: 20px;
      font-size: 13px;
    }
    .post_category{ 
      display: flex;
      flex-direction: column;
    }
    .post_show_image{
      width: 90%;
      height: 20%;
      min-height: 50px;
    }
    .comment_to_post{
      margin-top: 50px;
      font-size: 14px;
    }
    .comments_index{
      width: 90%;
      height: 250px;
      border: 10px solid #2a2a2a;
    }
    .one_comment{
      font-size: 10px;
      height: 50px;
    }
    .comment_input_form{
      width: 95%;
    }
    .comment_text{
      width: 75%;
      height: 25px;
    }
    .fa-send{
      font-size: 10px;
    }
    .impossible_action{
      font-size: 10px;
    }
    .move_other_container{
      margin-top: 40px;
      font-size: 13px;
      border-radius: 5px 60px / 60px;
    }
    .post_show_to_root_path{
      margin: 0 auto;
      margin-top: 30px;
    }
    .post_show_to_my_page{
      margin-top: 50px;
      font-size: 10px;
      border-radius: 50px;
      padding: 12px 24px;
      text-align: center;
    }

    /* post_new */
    .new_post_page{
      margin-bottom: 100px;
    }
    .new_posts_form{
      width: 90%;
      height: 520px;
      margin-top: 100px;
      border-radius: 10px;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .new_post_item_title{
      font-size: 13px;
      margin-top: 10px;
    }
    .new_post_image{
      font-size: 10px;
      width: 60%;
      margin: 0 auto;
      margin-top: 7px;
    }
    .new_post_category_select{
      font-size: 13px;
    }
    .new_post_title_input_form{
      font-size: 13px;
    }
    .new_post_text_input_form{
      font-size: 15px;
      height: 140px;
    }
    .new_posts_form h1{
      width: 100.5%;
      font-size: 20px;
      padding: 26px 15px;
      border-radius: 10px;
    }
    .new_post_items{
      width: 90%;
    }
    .new_post_submit_btn{
      font-size: 12px;
      width: 150px;
      margin-top: 20px;
    }
    /* post_edit */
    .move_post_show_btn{
      width: 200px;
      text-align: center;
      padding: 14px;
      font-size: 12px;
      border-radius: 50px;
      margin-bottom: 20px;
    }
    .destroy_post_btn{
      width: 200px;
      text-align: center;
      padding: 14px;
      font-size: 12px;
      border-radius: 50px;
    }
  }