// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart_btn{
  margin-right: 10px;
}

.fa-heart-o{
  margin-left: 3px;
}

.no_like{
  text-decoration: none;
  color: red;
}

.fa-heart{
  margin-left: 3px;
}

.has_like{
  text-decoration: none;
  color: red;
}

.has_like{
  text-decoration: none;
}