// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart_btn{
  font-size: 20px;
  margin-right: 10px;
}

.fa-heart-o{
  color: red;
}

.fa-heart{
  color: red;
}