.heart_btn{
  margin-right: 10px;
}

.heart_btn:hover{
  filter: brightness(50%);
}

.fa-heart-o{
  margin-left: 3px;
}

.no_like{
  text-decoration: none;
  color: red;
}

.fa-heart{
  margin-left: 3px;
}

.has_like{
  text-decoration: none;
  color: red;
}

.has_like{
  text-decoration: none;
}