// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// posts index

.top_image{
  display: flex;
  justify-content: center;
}

.top_image img{
  width: 350px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.top_menu{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 30px 200px 0px 200px;
  padding: 40px 40px 40px 90px;
  background-color: #2a2a2a;
  border-radius: 20px 100px / 120px;
}

.link{
  text-decoration: none;
  color: white ;
}


.flash_message{
  background-color: rgba(31,181,191,0.2);
  color: #2a2a2a;
  padding: 15px;
  text-align: center;
  margin: 0 300px 0px 300px;
  border-radius:  0 0 20px 20px;
}


.post_index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
}

.post_container{
  margin-right: 100px;
  width: 300px;
  height: 300px;
}

.nikibikun_image{
  width: 200px;
}

.post_title{
  white-space:nowrap;
  overflow: scroll;
  border-bottom: 1px solid #f2f2f2;
}

.post_text{
  white-space:nowrap;
  overflow: scroll;
  margin-top: 10px;
}

// posts new

.new_posts_form{
  // background-color: yellowgreen;
  background-image: url("/images/background.PNG");
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  height:100%;
  min-width:100%;
}

.new_posts_form_contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_posts_form_contents h1{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 20px 80px;
  color: white;
  margin-top: 80px;
}

.posts_title{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 17px 80px;
  color: white;
  margin-top: 40px;
}

.indispensable{
  font-weight: lighter;
  font-size: 13px;
  margin-left: 10px;
}

.posts_image{
  border: none;
  width: 240px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 15px;
}

.category_select{
  border: none;
  width: 400px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 15px;
}

.posts_title_input_form{
  width: 800px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 15px;
  
}

.posts_text_input_form{
  width: 800px;
  height: 350px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 15px;
}

.posts_btn{
  border: none;
  font-size: 20px;
  color: white;
  background-color: #1fb5bf;
  padding: 12px 80px;
  border-radius: 10px 100px / 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
}