/* posts_index */

.wrapper::before{
  background: url("/images/background_nikibikun.PNG") no-repeat center;
  background-size: cover;
  content: "";
  display: block;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
}

.top_image{
  display: flex;
  justify-content: center;
}

.top_image img{
  width: 280px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.top_menu{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 30px 200px 0px 200px;
  padding: 40px 40px 40px 90px;
  background-color: #2a2a2a;
  border-radius: 20px 100px / 120px;
}

.top_menu li{
  color: white;
}

.top_menu li:hover{
  position: relative;
  top: 3px;
}

.link{
  text-decoration: none;
  color: white;
}

.search_form_wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: none;
}

.search_method{
  margin: 0 auto;
  margin-top: 250px;
  background-color: #2a2a2a;
  border-radius: 30px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.sort_form p{
  color: gray;
  font-size: 22px;
}

.search_form p{
  color: gray;
  font-size: 22px;
  margin-top: 10px;
}

.search_box{
  display: flex;
  margin-top: 10px;
}

.search_input{
  height: 25px;
  border-radius: 8px;
  width: 250px;
}

.search_btn{
  border-radius: 8px;
  height: 25px;
  width: 25px;
  margin-left: 8px;
  background-color: #f2f2f2;
}

.search_close{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 20px;
}

.post_index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.post_container{
  margin-right: 5px;
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post_container:active{
  position: relative;
  top: 3px;
}

.post_path{
  text-decoration: none;
}

.post_image{
  width:150px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}

.user_nickname{
  white-space:nowrap;
  overflow: scroll;
  color: gray;
  padding: 3px 0;
  text-align: center;
  border-radius: 5px;
  margin-top: -43px;
  position: relative;
  z-index: 20;
}

/* posts_new */

.new_post_page{
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.new_posts_form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  border-radius: 10px;
  width: 570px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 100px;
  background-color: white;
}

.new_posts_form h1{
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 26px 83px;
  width: 574px;
  text-align: center;
  color: gray;
}

.new_post_error_messages{
  border: 1px solid red;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.new_post_error_messages p{
  color: red;
}

.new_post_items{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
}

.new_post_item_title{
  color: gray;
  margin-top: 20px;
}

.indispensable{
  font-size: 13px;
  margin-left: 2px;
}

.new_post_image{
  border: 1px solid gray;
  margin: 7px 120px 0px;
  color: gray;
}

.new_post_category_select{
  border: 1px solid gray;
  margin: 7px 60px 0px;
  height: 25px;
}

.new_post_title_input_form{
  border: 1px solid gray;
  margin-top: 7px;
  padding: 3px;
}

.new_post_text_input_form{
  padding: 3px;
  border: 1px solid gray;
  margin-top: 7px;
  height: 200px;
  overflow: scroll;
}

.new_post_submit_btn{
  border: none;
  background-color: #1fb5bf;
  color: white;
  padding: 7px 0;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.new_post_submit_btn:hover{
  position: relative;
  top: 3px;
}

.nikibityan_comment3{
  position: relative;
  top: -500px;
  left: 1100px;
  width: 280px;
  margin-bottom: -280px;
  border-radius: 10px;
}

/* posts_show */

.post_show_container{
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.post_show_items{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/images/background_nikibikun.PNG") no-repeat center;
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  border: 14px dashed #2a2a2a;
  width: 80vw;
  margin: 130px;
  padding-bottom: 100px;
}

.name_user_posted{
  background-color: #2a2a2a;
  color: white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 15px 0;
  margin-top: 100px;
}

.fa-file-text{
  margin-right: 8px;
}

.post_content{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: calc( 50vw - 40px );
  max-height: 320px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  padding: 20px;
  overflow: scroll;
  border-radius: 10px;
}

.post_title{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.post_category{
  margin-top: 20px;
  border-bottom: 1px dashed gray;
  display: flex;
}

.post_text{
  margin-top: 20px;
}

.post_created_at{
  display: flex;
  color: gray;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.like_and_edit{
  display: flex;
}

.post_edit_btn{
  margin-right: 10px;
  color: #008000;
  text-decoration: none;
}

.post_edit_btn:hover{
  filter: brightness(50%);
}

.prev_or_next{
  width: 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.prev_post{
  text-decoration: none;
  color: #2a2a2a;
  display: flex;
  align-items: center;
  width: 45%;
  margin: 0 auto;
}

.prev_post:active{
  position: relative;
  top: 2px;
}

.next_post{
  text-decoration: none;
  color: #2a2a2a;
  display: flex;
  align-items: center;
  width: 45%;
  margin: 0 auto;
}

.next_post:active{
  position: relative;
  top: 2px;
}

.fa-arrow-circle-o-left{
  color: #2a2a2a;
  font-size: 33px;
  margin-right: 5px;
}

.fa-arrow-circle-o-right{
  color: #2a2a2a;
  font-size: 33px;
  margin-left: 5px;
}

.post_show_image{
  height: 42vh;
  width: 50vw;
  min-height: 375px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  object-fit: contain;
  margin-top: 40px;
  border-radius: 10px;
}

.move_other_container{
  display: flex;
  flex-direction: column;
}

.post_show_to_root_path{
  margin-top: 40px;
}

.post_show_to_my_page{
  text-decoration: none;
  color: white;
  background-color: #2a2a2a;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 100px;
}

.move_show_to_root_path{
  margin-left:15px;
}

.fa-user-o{
  margin-right: 8px;
}

/* posts_edit */

.edit_post_btn_items{
  display: flex;
  flex-direction: column;
}

.move_post_show_btn{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  background-color: #1fb5bf;
  padding: 15px 50px;
  border-radius: 50px;
}

.fa-rotate-left{
  margin-right: 8px;
}

.move_post_show_btn:hover{
  position: relative;
  top: 3px;
}

.destroy_post_btn{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-decoration: none;
  color: white;
  background-color: #800000;
  padding: 15px 0;
  border-radius: 50px;
}

.fa-trash-o{
  margin-right: 8px;
}

.destroy_post_btn:hover{
  position: relative;
  top: 3px;
}