// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// posts index

.root_page{
  background-image: url("/images/background.PNG");
  background-size: cover;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

.top_image{
  display: flex;
  justify-content: center;
}

.top_image img{
  width: 350px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.top_menu{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 30px 200px 0px 200px;
  padding: 40px 40px 40px 90px;
  background-color: #2a2a2a;
  border-radius: 20px 100px / 120px;
}

.link{
  text-decoration: none;
  color: white ;
}


.flash_message{
  background-color: rgba(31,181,191,0.2);
  color: #2a2a2a;
  padding: 15px;
  text-align: center;
  margin: 0 300px 0px 300px;
  border-radius:  0 0 20px 20px;
}


.post_index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  margin-top: 100px;
}

.post_container{
  margin-right: 5px;
  width: 300px;
  height: 280px;
}

.post_image{
  width: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}

.user_nickname{
  white-space:nowrap;
  overflow: scroll;
  color: black;
  width: 150px;
  padding: 3px 0;
  text-align: center;
  border-radius: 5px;
  margin-top: -43px;
  position: relative;
  z-index: 20;
}

// posts new

.new_post_page{
  text-align: center;
  margin-bottom: 200px;
}

.new_posts_form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  border-radius: 10px 100px / 120px;
  margin: 50px 450px 120px;
}

.new_posts_form h1{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 26px 83px;
  width: 380px;
  color: gray;
}

.new_post_error_messages{
  border: 1px solid red;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.new_post_error_messages p{
  color: red;
}

.new_post_items{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
}

.new_post_item_title{
  color: gray;
  margin-top: 20px;
}

.indispensable{
  font-size: 13px;
  margin-left: 2px;
}

.new_post_image{
  border: 1px solid gray;
  margin: 7px 120px 0px;
}

.new_post_category_select{
  border: 1px solid gray;
  margin: 7px 60px 0px;
  height: 25px;
}

.new_post_title_input_form{
  border: 1px solid gray;
  margin-top: 7px;
}

.new_post_text_input_form{
  border: 1px solid gray;
  margin-top: 7px;
  height: 200px;
  overflow: scroll;
}

.new_post_submit_btn{
  border: none;
  background-color: #1fb5bf;
  color: white;
  padding: 7px 0;
  margin: 40px 160px 20px;
  border-radius: 10px 100px / 120px;
}

.new_post_to_root_path{
  text-decoration: none;
  background-color: #1fb5bf;
  color: white;
  width: 200px;
  border-radius: 10px 100px / 120px;
  padding: 18px 100px;
}

//post_show

.post_show_container{
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.post_show_items{
  display: flex;
  flex-direction: column;
  align-items: center ;
  background-image: url("/images/background.PNG");
  background-size: cover;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-attachment: fixed;
  border: 14px dashed #2a2a2a;
  width: 80vw;
  height: 1800px;
  margin: 100px 0;
}

.post_show_title{
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 10px 100px / 100px;
  padding: 0 80px 30px 80px;
}

.post_show_title h1{
  font-size: 40px;
  background-color: #2a2a2a;
  border-radius: 10px 100px / 100px;
  color: white;
  padding: 15px 80px;
  margin-top: -50px;
}

.post_show_title em{
  color: #2a2a2a;
  font-size: 20px;
  margin-top: 40px;
}

.post_show_image{
  height: 38vh;
  width: 45vw;
  min-height: 375px;
  background-color: #f2f2f2;
  object-fit: contain;
  margin-top: 40px;
}

.post_show_text{
  margin-top: 40px;
  width: 60vw;
  height: 70vh;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  overflow: scroll;
}

.post_like_or_comment{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.join_post_in_favorite{
  margin-top: 80px;
  background-color: #2a2a2a;
  color: white;
  font-size: 19px;
  padding: 10px 40px;
  border-radius: 50px;
}

.comment_to_post{
  margin-top: 80px;
  background-color: #2a2a2a;
  color: white;
  font-size: 19px;
  padding: 10px 40px;
  border-radius: 50px;
}