// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_my_page{
  text-align: center;
}

.user_my_page_container{
  margin-top: 80px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_my_page_title{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 19px 80px;
  color: white;
}

.user_posts_index{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 17px 80px;
  color: white;
  margin-top: 40px;
}

.user_post{
  width: 800px;
  height: 430px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 30px;
  overflow: scroll;
}

.user_post_category_and_title{
  border-bottom: 3px dotted lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #2a2a2a;
}

.liked_posts{
  background-color: #2a2a2a;
  border-radius: 10px 100px / 120px;
  padding: 17px 80px;
  color: white;
  margin-top: 40px;
}

.user_like{
  width: 800px;
  height: 430px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  margin-top: 30px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.liked_post{
  border-bottom: 1px solid black;
  padding: 20px;
}

.my_page_to_root_path{
  margin-top: 100px;
}

.move_to_user_destroy{
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #990000;
  padding: 5px 20px;
  border-radius: 10px 100px / 120px;
  display: flex;
  justify-content: center;
  margin: 30px 200px;
}